.button {
  width: 100%;
  height: 80px;
  background: #9f9f9f;
  border: none;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
}

.button_valid {
  background: rgb(123, 192, 44);
}

.button_filled {
  background: rgb(0, 234, 255);
}

.img__check {
  display: none;
}

.button_valid > .img__check {
  display: inline;
}
