* {
  --background: #c3c3c3;
}

*, 
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-weight: 500;
  font-size: 14px;
  height: 100vh;
  color: #131313;
}