*, 
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  height: 100vh;
}

.formPage {
  max-width: 600px;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  padding-top: 20px;
}

.container {
  background: lightyellow;
  border: 1px solid gray;
}

.form-box {
  position: relative;
  padding: 40px;
}

.form__line {
  position: absolute;
  background: gray;
  top: 0;
  left: -4px;
  width: 5px;
  /* height: 100%; */
  height: calc(100% + 2px);
  margin-top: -1px;
}

.form {
  width: 100%;
  margin: 0 auto;
}

.form__input {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
  /* background: aliceblue; */

}

.form__text {
  width: 100%;
  max-width: 530px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  background: none; 
  appearance: none;
  color: #000;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
}

.form__label {
  position: absolute;
  color: rgb(0, 234, 255);
  font-weight: 500;
  opacity: .8;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 530px;
  /* transform: translateY(); */
  transform-origin: left top;
  transition: transform .2s ease;
}

.form__text:focus ~ .form__label,
.form__text:valid ~ .form__label {
  transform: translateY(-80%) scale(.8);
}

/* .form-info {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 5px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
  background: none; 
}

.form-info__title{
  position: absolute;
}

.form-info:focus {
  outline: none;
} */