.textarea {
  position: relative;
  display: inline-block;
  width: 100%;
}

.textarea__field {
  font-family: Arial;
  resize: none;
  overflow: hidden;
  height: 23px;
  position: relative;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #898989;
}

.textarea__text {
  position: absolute;
  color: rgb(0, 234, 255);
  font-weight: 500; 
  left: 0;
  top: 0;
  line-height: 21px;
  transform-origin: left top;
  transition: transform .2s ease;
}

.textarea__text__default {
  top: -28px;
}

.textarea__field:focus ~ .textarea__text,
.textarea__field:valid ~ .textarea__text {
  transform: translateY(-80%) scale(.8);
}

.textarea__field:focus ~ .textarea__text__default,
.textarea__field:valid ~ .textarea__text__default {
  transform: translateY(-25%) scale(.9);
}
